@import "../theme";

.profile {
    &.box-image{
        @include center;
        background-image: url("../../../assets/backgrounds/BoardgameBox.png");
        background-size: 1165px;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 900px;
        min-width: 900px;
        margin: auto;
    }
    &.container {
        width: 30em;
        background: $background;
        padding: 1.5em;
        border-radius: $borderRadius;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        box-shadow: $dropShadow;
        position: relative;
    }

    &.information-list {
        list-style: none;
        padding-left: 0;
    }

    &.information-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    &.h2 {
        margin: 0.5em 0;
    }

    &.button-container {
        display: flex;
        justify-content: center;
        column-gap: 10%;
        margin: 2em;
        padding: 1em;
    }
}

.user-information {
    &.container {
        margin: 0.5em 0;
        width: 22em;
        padding: 10px;
        border-radius: $borderRadius;
        display: flex;
        align-items: center;
        background: lighten($background, 0.5);
    }

    &.title {
        font-weight: 500;
        color: $accent;
        display: block;
        width: 5em;
    }

    &.description-container {
        font-weight: 300;
        margin-left: 5px;
        display: block;
    }
}

.edit {
    &.container {
        width: 22em;
        padding: 10px;
        border-radius: $borderRadius;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: lighten($background, 0.5);
    }

    &.title {
        font-weight: 500;
        color: $accent;
        display: block;
        width: 5em;
    }

    &.input-description {
        height: 35px;
        width: 17em;
        padding-left: 20px;
        border: none;
        border-radius: 0.75em;
        background: transparentize(white, 0.9);
        color: $textColor;
        margin-left: 10px;
    }
}

.birthday {
    &.container {
        width: 23.7em;
        padding: 10px;
        border-radius: $borderRadius;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: lighten($background, 0.5);
    }

    &.title {
        font-weight: 500;
        color: $accent;
        display: block;
        width: 5em;
    }

    &.input {
        height: 35px;
        border: none;
        width: 17em;
        border-radius: 0.75em;
        background: transparentize(white, 0.9);
        color: $textColor;
        margin-left: 4px;
        padding-left: 20px;
    }
}