@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.game {
    &.box-image{
        @include center;
        background-image: url("../../../assets/images/BoardgameBox.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 900px;
        min-width: 900px;
        margin: auto;
    }
    &.container {
        width: 30em;
        background: $background;
        padding: 1.5em;
        border-radius: $borderRadius;
        display: block;
        flex-direction: column;
        align-items: center;
        box-shadow: $dropShadow;
    }

    &.user-list {
        list-style: none;
        padding-left: 0;
    }

    &.user-item {
        display: inline-block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
    }
    &.search-input{
        height: 35px;
        padding-left: 15px;
        margin-left: 4px;
        border: none;
        border-radius: 0.75em;
        margin-bottom: 5px;
        background: transparentize(white, 0.85);
        color: $textColor;
        width: 100%;
    }

    & p, h2 {
        margin: 0.5em 0;
    }
}

.player {
    &.container {
        padding: 6px;
        background: lighten($background, 5);
        border: none;
        border-radius: $borderRadius;
        display: block;
        margin-bottom: 0.5em;
        width: 100%;
        color: $accent;
        display: flex;
        flex-direction: row;
    }

    &:hover {
        background: lighten($background, 10);
    }

    &.name {
        font-weight: 300;
        margin-left: 5px;
    }

    &.username {
        font-weight: 500;
        color: $accent;
    }

    &.id {
        margin-left: auto;
        margin-right: 5px;
        font-family: $fontMono;
        font-weight: 300;
    }

}
