@import "../theme";

.header {
  &.container {
    @include center;
  }

  &.title {
    font-weight: bold;
    color: $background;
    text-align: center;
  }

  &.logout-container {
    display: block;
    right: 2em;
    margin-top: 1em;
  }
}