@import "../theme";

.profile {
    &.box-image{
        @include center;
        background-image: url("../../../assets/images/BoardgameBox.png");
        background-size: 900px;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 900px;
        min-width: 900px;
        margin: auto;
    }
    &.container {
        width: 30em;
        background: $background;
        padding: 1em;
        border-radius: $borderRadius;
        display: block;
        flex-direction: column;
        align-items: center;
        box-shadow: $dropShadow;
    }

    &.information-list {
        list-style: none;
        padding-left: 0;
    }

    &.information-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &.h2 {
        margin: 0.5em 0;
    }

    &.button-container {
        display: flex;
        justify-content: center;
        column-gap: 10%;
        margin: 2em;
        padding: 0.5em;
    }
}

.user-information {
    &.container {
        margin: 0.5em 0;
        width: 22em;
        padding: 10px;
        border-radius: $borderRadius;
        display: flex;
        background: lighten($background, 5);
    }

    &.title {
        font-weight: 500;
        color: $accent;
        display: block;
        width: 5em;
    }

    &.description {
        font-weight: 300;
        margin-left: 2em;
        display: block
    }
}

.achievements{
    &.container{
        display: grid;
        grid-template-columns: repeat(5,3em);
        grid-template-rows: repeat(3, 30px);
    }
    .circle-container{
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle{
        width: 20px;
        height: 20px;
        border: 2px solid $accent;
        border-radius: 50%;
        background-color: #FFC33A;
    }
    .description-container{
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #040931;
        color: $textColor;
        padding: 5px 10px;
        border-radius: $borderRadius;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        white-space: nowrap;
        font-size: 0.75rem;
    }
    .circle-container:hover .description-container{
        opacity: 1;
        visibility: visible;
    }
}


